@import './base/variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --tw-bg-opacity: 1;
    background-color: rgb(26 35 46 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  :root {
    --tw-bg-opacity: 1;
    background-color: rgb(26 35 46 / var(--tw-bg-opacity));
  }
}
html,body{
    color: $color_white;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box !important;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 18px;
}

.bg-navbar{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btn-default{
  color: #fff;
  font-weight: 500;
  display: inline-block;
  border: 2px solid #a883e9;
  padding: 5px 16px;
  text-align: center;
  margin: 5px;
  border-radius: 24px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
  transition-duration: .5s;
}
.btn-default:hover{
  background: #fb397d;
  border-color: transparent;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}
.text-hover:hover{
  color: #fb397d;
  transition-duration: .5s;
}

//gradient
.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
  z-index: -1;
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: #cb94944d;
  filter: blur(200px);
  transform: rotate(-53.13deg);
  z-index: -2;
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

//end gradient
.form-control-web{
    height: 50px;
    border: none;
    border-radius: 24px;
    color: #000000;
    padding: 0 15px;
}
.form-control-web:focus-visible{
  outline-color: #fb397d;
}
.btn-submit{
  background: linear-gradient(60deg,#ec407a,#d81b60);
  color: #fff;
  font-weight: 500;
  display: inline-block;
  border: none;
  height: 52px;
  min-width: 167px;
  line-height: 46px;
  text-align: center;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
  cursor: pointer
}
.heading,.heading-page{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 80px;
    background-color: #fb397d;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
  }
}
.heading-page{
  &::after{
    left: 0;
    transform: translate(0,0);
    width: 100%;
  }
}
.item-box{
  text-align: center;
  align-items: center;
}
.item-box,.item-box-2{
    border: 1px solid #eff2f6;
    padding: 40px;
    border-radius: 32px;
    transition-duration: .8s;
    margin-bottom: 30px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 5px 10px -5px rgba(233,30,99,.4);
    background-color: #ffffff;
    color: #1A232E;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:hover{
      box-shadow: 0 4px 20px 0 rgb(0 0 0), 0 5px 10px -5px rgb(233 30 99);;
    }
}
.item-box-2{
  height: fit-content;
}

.text-bg{
  background-color: #8d39a3;
}
.text-indent{
  text-indent: 28px;
}
.bg-gradient{
  background: linear-gradient(to left,#7873ed,$color_purple);
}
.color-pink{
  color: #fb397d;
}
.color-purple{
  color: $color_purple;
}
.btn-englift{
  border-radius: 25px;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 8px 16px;
}
.info-user:hover{
  .dropdown-menu{
    opacity: 1;
    visibility: visible;
  }
}
.dropdown-menu{
  opacity: 0;
  visibility: hidden;
  color: black;
  position: absolute;
  left: 0;
  bottom: -90px;
  transition: .4s;
  .dropdown-item{
    padding: 4px 12px;
    width: 100%;
    white-space: nowrap;
    &:hover{
      background-color: $color_purple;
      color: white;
      transition: .4s;
    }
  }
}
.text-dander{
  color: #ff3a3a;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 14px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}

//badge
.badge{
  padding: 4px 8px;
  color: white;
  border-radius: 8px;
}
.badge-red{
  background-color: #c42733;
}
.badge-green{
  background-color: #76bb0c;
}
.badge-blue{
  background-color: #2778c4;
}
.badge-purple{
  background-color: #a865e1;
}