@import "./base/variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  background-color: rgb(26 35 46 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  :root {
    --tw-bg-opacity: 1;
    background-color: rgb(26 35 46 / var(--tw-bg-opacity));
  }
}
html,
body {
  color: $color_white;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box !important;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-size: 18px;
}

.bg-navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btn-default {
  color: #fff;
  font-weight: 500;
  display: inline-block;
  border: 2px solid #a883e9;
  padding: 5px 16px;
  text-align: center;
  margin: 5px;
  border-radius: 24px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
  transition-duration: 0.5s;
}
.btn-default:hover {
  background: $color_pink;
  border-color: transparent;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.text-hover:hover {
  color: $color_pink;
  transition-duration: 0.5s;
}

//gradient
.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
  z-index: -1;
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: #cb94944d;
  filter: blur(200px);
  transform: rotate(-53.13deg);
  z-index: -2;
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

//end gradient
.form-control-web {
  height: 50px;
  border: none;
  border-radius: 24px;
  color: #000000;
  padding: 0 15px;
}
.form-control-web:focus-visible {
  outline-color: $color_pink;
}

.form-control-web-2,.form-control-web-4 {
  border: 1px solid #0069d9;
  border-radius: 24px;
  color: #000000;
  padding: 0 15px;
  &:focus-visible {
    outline-color: #0069d9;
  }
}


.form-control-web-3 {
  background-color: transparent;
  border-bottom: 1px solid black;
  text-align: center;
  margin-right: 4px;
  &:focus-visible {
    outline: none;
    border-bottom: 2px solid green;
  }
}

.form-control-web-4{
  border: 1px solid #80808052;
  border-radius: 4px;
  padding: 0 8px;
  &:focus-visible {
    outline-color: #0069d9;
  }
}

.form-control-web-5{
  border-width: 0;
  outline: none;
  border-bottom: 1px solid #0069d9;
  background-color: transparent;
  padding: 0 8px;
  margin:0 8px;
  &:focus-visible {
    border-bottom: 2px solid #0069d999;
  }
}

.btn-submit,.btn-go {
  background: linear-gradient(60deg, #ec407a, #d81b60);
  color: #fff;
  font-weight: 500;
  display: inline-block;
  border: none;
  height: 52px;
  min-width: 167px;
  line-height: 46px;
  text-align: center;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
  cursor: pointer;
}
.btn-go{
  background: #c2fbd7;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
}
.heading,
.heading-page {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80px;
    background-color: $color_pink;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }
}
.heading-page {
  &::after {
    left: 0;
    transform: translate(0, 0);
    width: 100%;
  }
}
.item-box {
  text-align: center;
  align-items: center;
}
.item-box,
.item-box-2 {
  border: 1px solid #eff2f6;
  padding: 40px;
  border-radius: 32px;
  transition-duration: 0.8s;
  margin-bottom: 30px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 5px 10px -5px rgba(233, 30, 99, 0.4);
  background-color: #ffffff;
  color: #1a232e;
  display: flex;
  flex-direction: column;
  &:hover {
    box-shadow: 0 4px 20px 0 rgb(0 0 0), 0 5px 10px -5px rgb(233 30 99);
  }
}
.item-box-2 {
  height: fit-content;
}
.item-box-3 {
  border: 1px solid #eff2f6;
  padding: 10px 30px;
  border-radius: 12px;
  transition-duration: 0.8s;
  margin-bottom: 30px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #ffffff;
  color: #1a232e;
  display: flex;
  flex-direction: column;
  .hover-image {
    transition: 0.2s ease-in-out;
  }
  cursor: pointer;
  &:hover .hover-image {
    top: -50px;
    transition: 0.2s ease-in-out;
  }
}

.item-box-4 {
  border: 1px solid #eff2f6;
  padding: 10px 30px;
  border-radius: 12px;
  transition-duration: 0.8s;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #ffffff;
  color: #1a232e;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  .leff-col{
    
  }
  .right-col{
    width: calc(100% - 60px);
  }
}

.item-box-5{
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #1a232e;
  min-height: 100px;
  border-width: 4px;
  .left{
    width: calc(100% - 70px);
  }
  .right{
    width: 65px;
  }
}
.text-bg {
  background-color: #8d39a3;
}
.text-indent {
  text-indent: 28px;
}
.text-indent-sm {
  text-indent: 8px;
}
.bg-gradient {
  background: linear-gradient(to left, #7873ed, $color_purple);
}
.color-pink {
  color: $color_pink;
}
.color-purple {
  color: $color_purple;
}
.btn-englift {
  border-radius: 25px;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 8px 16px;
}
.info-user:hover {
  .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
}
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  color: black;
  position: absolute;
  left: 0;
  bottom: -130px;
  transition: 0.4s;
  .dropdown-item {
    padding: 4px 12px;
    width: 100%;
    white-space: nowrap;
    &:hover {
      background-color: $color_purple;
      color: white;
      transition: 0.4s;
    }
  }
}
.text-dander {
  color: #ff3a3a;
}
@media only screen and (min-width: 768px) {
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  body::-webkit-scrollbar {
    width: 14px;
    background-color: #f5f5f5;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2) 75%,
      transparent 75%,
      transparent
    );
  }
}

//badge
.badge {
  padding: 4px 8px;
  color: white;
  border-radius: 8px;
}
.badge-red {
  background-color: #c42733;
}
.badge-green {
  background-color: #76bb0c;
}
.badge-blue {
  background-color: #2778c4;
}
.badge-purple {
  background-color: #a865e1;
}
.border-red {
  border: 2px solid #c42733;
}
.border-green {
  border: 2px solid #76bb0c;
}
.border-blue {
  border: 2px solid #2778c4;
}
.border-purple {
  border: 2px solid #a865e1;
}
.color-red {
  color: #c42733;
}
.color-green {
  color: #76bb0c;
}
.color-blue {
  color: #2778c4;
}

.list-circle li {
  list-style: circle !important;
}

.pagination {
  li a {
    display: block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    margin: 0 2px;
  }
  &-active a {
    background-color: #f44336;
    color: white;
  }
}

.nav-tabs {
  border-bottom: 2px solid $color_pink;
  &-item {
    margin: 4px 4px;
    button {
      background-color: $color_white;
      padding: 8px 12px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $color_pink;
      color: $color_pink;
    }
  }
  &-item.active button {
    background-color: #e91e63;
    color: $color_white;
  }
}
.box-game {
  background-color: $color_white;
  border: 1px solid $color_pink;
  color: #000000;
  &-option {
    &-item {
      background-color: #0069d9;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-radius: 0.375rem;
      text-align: center;
      color: $color_white;
      cursor: pointer;
    }
    &-item.choose {
      background-color: #4caf50;
    }
    &-item.wrong {
      background-color: #c42733 !important;
    }
  }
  &-pagination {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, 36px);
      grid-auto-rows: 36px;
      grid-gap: 2px;
      li {
        background-color: $color_white;
        color: #0069d9;
        border: 1px solid #0069d9;
        border-radius: 4px;
        button {
          width: 100%;
          height: 100%;
        }
      }
      li.active {
        background-color: #0069d9 !important;
        color: $color_white;
        border: 1px solid #0069d9 !important;
      }
      li.correct {
        background-color: #76bb0c;
        color: $color_white;
        border: 1px solid #76bb0c;
      }
      li.wrong {
        background-color: #c42733;
        color: $color_white;
        border: 1px solid #c42733;
      }
    }
  }
}
.bg-gradient-green{
  background: linear-gradient(269.83deg, #26ae38d1 0.14%, #59cd05d1 99.86%);
  color: $color_white;
  b{
    color: $color_white;
  }
}
.require::before{
  content: '*';
  margin-right: 2px;
  color: #ff4d4f;
}

.container{
  color:#000;
  .left-info,.right-info{
    background-color: #ffffff;
    border:1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .left-info-header,.right-info-header{
    .image{
      background-color: $color_pink;
      padding:8px 8px;
      border-radius: 0.25rem;
    }
  }
  .avatar{
    text-align: center;
    height: calc(100% - 50px);
  }
}
.disabled{
  cursor: not-allowed;
  background-color:#d3d1d1a1;;
}
.swal2-shown{
  padding: 0 !important;
}
.apexcharts-menu{
  background: #000000d9 !important;
}
.apexcharts-menu-item:hover{
  background: #ff1493ad !important;
}